**/.*
**/**/.*
**/**/**/.*
**/**/**/**/.*
**/**/**/**/**/.*
**/**/**/**/**/**/.*
.metadata
.project
target/*
**/target/*
**/**/target/*
**/**/**/target/*
**/**/**/**/target/*
**/**/**/**/**/target/*
**/**/**/**/**/**/target/*
