<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-config.dtd">

<configuration>

	<properties resource="jdbc.properties" />

	<settings>
		<setting name="cacheEnabled" value="true" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="multipleResultSetsEnabled" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="autoMappingBehavior" value="PARTIAL" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="defaultStatementTimeout" value="25000" />
	</settings>

	<typeAliases>
		<!-- ad -->
		<typeAlias alias="configDTO" type="org.conan.taobao.ad.model.ConfigDTO" />
		<typeAlias alias="userDTO" type="org.conan.taobao.ad.model.UserDTO" />
		<typeAlias alias="itemDTO" type="org.conan.taobao.ad.model.ItemDTO" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<!-- system -->
		<mapper resource="mybatis-mysql.xml" />

		<!-- ad -->
		<mapper resource="org/conan/taobao/ad/dao/config.xml" />
		<mapper resource="org/conan/taobao/ad/dao/user.xml" />
		<mapper resource="org/conan/taobao/ad/dao/item.xml" />
	</mappers>
</configuration>